body {
    background-color: #121212;
    font: normal 18px/30px, sans-serif;
}

.container {
    width: 800px;
    margin: 0 auto;
}

section:not([class="section-3"]) {
    padding: 60px 0;
    text-align: center;
}

.section-1 {
    font-size: 25px;
    color: red;
    background: #121212;
}

.section-2 {
    background: #333;
}

input:not([type="checkbox"]):not([type="file"]):not([type="radio"]),
button,
textarea {
    background: #fff;
    border: none;
    width: 300px;   
    padding: 20px 25px;
    margin: 15px;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba( 0, 0, 0, .12);
}

input:focus,
textarea:focus {
    outline: 2px solid red;
}

textarea {
    width: 700px;
}

button {
    color: #121212;
    background: red;
    font-size: 20px; 
    font-weight: bold;
}

label {
    display: block;
    text-align: left;
    cursor: pointer;
    margin-left: 25px;
    color: #fff;
}

label[for="I'm Simp"] {
    margin-bottom: 25px;
    color: #fff;
}

footer {
    background: #121212;  
}

footer h1 {
    text-align: center;
    color: red;
}

footer p {
    text-align: center;
    color: #fff;
}
